<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="springboot_druid_demo.mappers.UserMapper">

    <delete id="deleteByPrimaryKey">
        DELETE
        FROM user
        WHERE user_id = #{userId}
    </delete>

    <insert id="insertSelective" parameterType="springboot_druid_demo.model.User" keyProperty="userId">
        INSERT INTO user (
          user_name, user_phone, user_address
        )
        VALUES
          (
            #{userName}, #{userPhone}, #{userAddress}
          )
    </insert>

    <resultMap id="selectByPrimaryKeyMap" type="springboot_druid_demo.model.User">
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="user_phone" property="userPhone"/>
        <result column="user_address" property="userAddress"/>
    </resultMap>
    <select id="selectByPrimaryKey" parameterType="int" resultType="springboot_druid_demo.model.User">
      select *
      from user
      where user_id = #{userId}
    </select>

</mapper>